@{ 
    var PrimaryColor = System.Configuration.ConfigurationManager.AppSettings["PrimaryColor"] ?? "#016e25";
    var SecondaryColor = System.Configuration.ConfigurationManager.AppSettings["SecondaryColor"] ?? "#f5cf7c";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gia phả số</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="w-100 text-center">
            <p class="copyright my-2">&copy; @DateTime.Now.Year - Phát triển bởi <a class="copyright-url" target="_blank" href="https://yenbai.net.vn">Trung tâm Chuyển đổi số tỉnh Yên Bái</a></p>
        </footer>
    </div>
    <style>
        :root {
            --primary-color: @(PrimaryColor);
            --secondary-color: @(SecondaryColor);
        }
        .copyright-url {
            color: var(--primary-color, #f5cf7c);
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
