@model IEnumerable<GiaPha.Models.ThanhVien>

@{
    ViewBag.Title = "Quản lý thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VoChongList = (List<GiaPha.Models.VoChong>)ViewBag.VoChongList;
}

<h4 class="my-3">Quản lý thành viên</h4>
<hr />

<p>
    @Html.ActionLink("+ Thêm mới", "Create", null, new { @class = "btn btn-success" })
</p>
<table id="table" class="table table-bordered table-light table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="min-width: 150px">Họ tên</th>
            <th style="min-width: 100px">Con của cụ</th>
            <th>Năm sinh - Năm mất</th>
            <th>Vai vế</th>
            <th>Giới tính</th>
            <th style="min-width: 100px">Vợ (chồng)</th>
            <th>Địa phương cư trú</th>
            @*<th>Lý lịch </th>*@
            <th style="min-width: 120px"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        var parent = Model.FirstOrDefault(x => x.ID == item.PID);
        var voChong = Model.FirstOrDefault(x => x.ID == item.VoChong);
        <tr>
            <td>
                @if (item.Avt != null && item.Avt.Length > 0)
                {
                    <img src="@(item.Avt)" width="28" loading="lazy" />
                }@Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td title="@(item.PID)">
                @(parent?.HoTen ?? "")
            </td>
            <td>
                @(string.Join(" - ", new string[] { item.NamSinh?.ToString(), item.NamMat?.ToString() }))
            </td>
            <td>
                @(item.IsTruongHo == true ? "Trưởng họ " : "")
                @(item.IsTruongChi == true ? "Trưởng chi " : "")
            </td>
            <td>
                @(item.GioiTinh == true ? "Nam" : "Nữ")
            </td>
            <td title="@(item.VoChong)">
                @(voChong?.HoTen ?? "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaPhuong)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LyLich)
            </td>*@
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "text-decoration-none" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "text-decoration-none" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "text-decoration-none text-danger" })
            </td>
        </tr>
    }
</table>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    var dataTable = new DataTable('#table', {
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json'
        },
        dom: '<"top d-flex justify-content-between align-items-center"fp>rt<"bottom d-flex justify-content-between align-items-center"il><"clear">'
    });
</script>